.label {
  font-weight: bold;
  text-align: right;
  padding-right: 8px;
  vertical-align: middle;
  width: 160px;
}

.value {
  text-align: left;
  vertical-align: middle;
}

input,
.ui-inputfield,
.ui-inputmask,
.ui-selectonemenu {
  width: 100%;
  box-sizing: border-box;
}

.ui-calendar input {
  width: calc(100% - 30px); /* espaço pro botão de calendário */
}

.cpf-mask::placeholder,
.cnpj-mask::placeholder {
  color: #333; /* Ou a cor do seu texto de input normal */
  opacity: 1; /* Garante que não seja transparente */
}

.cpf-mask::-webkit-input-placeholder,
.cnpj-mask::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}

.cpf-mask::-moz-placeholder,
.cnpj-mask::-moz-placeholder {
  color: #333;
  opacity: 1;
}

.cpf-mask:-ms-input-placeholder,
.cnpj-mask:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

.cpf-mask:-moz-placeholder,
.cnpj-mask:-moz-placeholder {
  color: #333;
  opacity: 1;
}